<div class="page_title">
  <h1 id="page_heading">Employee Details</h1>
</div>
<div class="card">
  <p-table
    [rowHover]="true"
    #dt1
    [paginator]="true"
    [rows]="5"
    [globalFilterFields]="[
      'EmployeeNo',
      'employeeName',
      'department',
      'gender',
      'mobileNo',
      'city',
      'nationality',
      'CTC',
      'qualification',
      'experience',
      'email',
      'totalyear',
      'dateOfJoining',
      'dateOfBirth'
    ]"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'max-width': '20rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [value]="profile_details"
    [scrollable]="true"
  >
  <ng-template pTemplate="caption">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>

        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Global Search"
        />&nbsp;&nbsp;&nbsp;
      </span>
      <p-dropdown
        class="department_filter"
        [options]="departments"
        placeholder="Select Department"
        (onChange)="depart($event)"
        optionLabel="department"
      ></p-dropdown>
      &nbsp;&nbsp;&nbsp;
    </ng-template>
    <div>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
      ></p-paginator>
    </div>
    <ng-template pTemplate="header">
      <tr>
        <th pFrozenColumn>Employee&nbsp;No</th>
        <th pFrozenColumn>Employee&nbsp;Name</th>
        <th pFrozenColumn>Photo</th>
        <th>Date&nbsp;Of&nbsp;Birth</th>
        <th>Mobile&nbsp;No</th>
        <th>Nationality</th>
        <th>Date&nbsp;Of&nbsp;Joining</th>
        <th>Department</th>
        <th>Gender</th>
        <th>Qualification</th>
        <th>CTC</th>
        <th>Email</th>
        <th>Experience</th>
        <th>Year&nbsp;Of&nbsp;Experience</th>
        <th>Alternative&nbsp;Number</th>
        <th>Edit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profile_details>
      <tr>
        <td pFrozenColumn>{{ profile_details.EmployeeNo }}</td>
        <td pFrozenColumn>{{ profile_details.employeeName.toUpperCase() }}</td>
        <td pFrozenColumn>
          <img [src]="profile_details.photo" height="60px" width="60px" />
        </td>
        <td>{{ profile_details.dateOfBirth.slice(0,10) }}</td>
        <td>{{ profile_details.mobileNo }}</td>
        <td>{{ profile_details.nationality.toUpperCase() }}</td>
        <td>{{ profile_details.dateOfJoining.slice(0,10) }}</td>
        <td>{{ profile_details.department.department }}</td>
        <td>{{ profile_details.gender.toUpperCase() }}</td>
        <td>{{ profile_details.qualification.toUpperCase() }}</td>
        <td>{{ profile_details.CTC }}</td>
        <td>{{ profile_details.email }}</td>
        <td>{{ profile_details.experience.toUpperCase() }}</td>
        <td>{{ profile_details.totalYears }}</td>
        <td>{{ profile_details.emergencyContactNumber }}</td>
        <td>
          <p-button
            (click)="edit(profile_details)"
            icon="pi pi-user-edit"
            label="Edit"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <td colspan="13" class="emptydata">NO DATA ARE MATCH TO SEARCH RESULT</td>
    </ng-template>
  </p-table>
</div>