<div class="card">
  <div class="headback1">
    <h1 id="page_heading">Employee Details</h1>
  </div>
  <p-table
    [rowHover
    ]="true"
    #dt1
    [paginator]="true"
    [rows]="5"
    [globalFilterFields]="[
      'EmployeeNo',
      'employeeName',
      'department',
      'gender',
      'mobileNo',
      'city',
      'nationality',
      'CTC',
      'qualification',
      'experience',
      'email',
      'totalyear',
      'dateOfJoining',
      'dateOfBirth'
    ]"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [value]="profile_details"
    [scrollable]="true"
    scrollDirection="both"
    scrollHeight="640px"
  >
    <ng-template pTemplate="caption">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Global Search"
        />&nbsp;&nbsp;&nbsp;

        <p-dropdown
          [options]="departments"
          placeholder="Select Department"
          (onChange)="depart($event)"
          optionLabel="department"
        >
        </p-dropdown>
      </span>
    </ng-template>

    <div>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </div>

    <ng-template pTemplate="header">
      <tr>
        <th pFrozenColumn>Employee&nbsp;No</th>
        <th pFrozenColumn>Employee&nbsp;Name</th>
        <th pFrozenColumn>Photo</th>
        <th>Date&nbsp;Of&nbsp;Birth</th>
        <th>Mobile&nbsp;No</th>
        <th>Nationality</th>
        <th>Date&nbsp;Of&nbsp;Joining</th>
        <th>Department</th>
        <th>Gender</th>
        <th>Qualification</th>
        <th>CTC</th>
        <th>Email</th>
        <th>Experience</th>
        <th>Year&nbsp;Of&nbsp;Experience</th>
        <th>Alternative&nbsp;Number</th>
        <th>Edit</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-profile_details>
      <tr>
        <td pFrozenColumn>{{ profile_details.EmployeeNo }}</td>
        <td pFrozenColumn>{{ profile_details.employeeName.toUpperCase() }}</td>
        <td pFrozenColumn>
          <img [src]="profile_details.Photo" height="100px" width="100px" />
        </td>
        <td>{{ profile_details.dateOfBirth }}</td>
        <td>{{ profile_details.mobileNo }}</td>
        <td>{{ profile_details.nationality.toUpperCase() }}</td>
        <td>{{ profile_details.dateOfJoining }}</td>
        <td>{{ profile_details.department.toUpperCase() }}</td>
        <td>{{ profile_details.gender.toUpperCase() }}</td>
        <td>{{ profile_details.qualification.toUpperCase() }}</td>
        <td>{{ profile_details.CTC }}</td>
        <td>{{ profile_details.email }}</td>
        <td>{{ profile_details.experience.toUpperCase() }}</td>
        <td>{{ profile_details.totalyear }}</td>
        <td>{{ profile_details.emergencyContactNumber }}</td>

        <td>
          <p-button
            (click)="showDialog('update')"
            icon="pi pi-user-edit"
            label="Edit"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
