#page_heading {
  background-color: blue;
  margin: 15px;
  color: aliceblue;
  padding: 15px;
  border-radius: 5px;
  font-size: x-large;
  width: 100%;
  font-family: "Times New Roman";
}

#p-datatable-tbody,
tr {
  color: solid #000305;
  font-family: "Times New Roman";
}

tr:hover {
  color: whitesmoke;
  background-color: #779fba;
}
