<div class="inactive_employe_table">
  <p-card>
    <p-table
      #dt1
      [value]="leftoverdatas"
      styleClass="p-datatable-sm p-datatable-striped"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['employeeName', 'deportment', 'EmployeeNo']"
    >
      <ng-template pTemplate="caption">
        <div id="employee_details_searchBar">
          <h2>Inactive Employee List</h2>
          <input
            pInputText
            [(ngModel)]="clearthebar"
            class="p-inputtext"
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Photo</th>
          <th>Employee Name</th>
          <th>Employee No</th>
          <th>Department</th>
          <th>Active Status</th>
          <th>Edit Details</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lefted>
        <tr>
          <td><img id="inactive_employe_img" src=" lefted.Photo" /></td>
          <td>{{ lefted.employeeName }}</td>
          <td>{{ lefted.EmployeeNo }}</td>
          <td>{{ lefted.deportment }}</td>
          <td>
            <p-button
              styleClass="p-button-warning p-button-sm"
              (onClick)="indiviActiveFn(lefted)"
              >Inactive</p-button
            >
          </td>
          <td>
            <p-button
              label="Edit"
              styleClass="p-button-sm"
              (click)="activateFn(lefted)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" id="no_details_text">
            No Employee found with this detail.
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog
      header="Do you want to Activate :- {{ EmpnameFordis }}"
      [(visible)]="visible"
      [modal]="true"
    >
      <div
        class="flex py-2 justify-content-center"
        id="employee_details_editor"
      >
        <div class="employee_active_status_btn_space">
          <div>
            <label for="employee_active_status_radio_btn1">Yes :</label>
            <p-radioButton
              name="Active"
              value="true"
              [(ngModel)]="activating"
              class="employee_active_status_radio_btn"
              inputId="employee_active_status_radio_btn1"
            ></p-radioButton>
          </div>
          <div>
            <label for="employee_active_status_radio_btn2">No :</label>
            <p-radioButton
              name="Inactive"
              value="false"
              [(ngModel)]="activating"
              class="employee_active_status_radio_btn"
              inputId="employee_active_status_radio_btn2"
            ></p-radioButton>
          </div>
        </div>
        <br />
        <div id="employee_active_status_submit_btn">
          <p-button
            label="Submit"
            styleClass="p-button-sm"
            (onClick)="toggleActiveFn()"
          ></p-button>
        </div>
      </div>
    </p-dialog>
  </p-card>
</div>

<!-- 
<label
>Activate :
<p-inputSwitch
  [disabled]="disabled"
  (onChange)="toggleActiveFn($event, individualData)"
  id="employee_active_status_switch_btn"
></p-inputSwitch>
</label> -->
