<div class="outer">
  <div class="main">
    <h3 id="heading">Add Employee Details</h3>
  </div>
  <p-card styleClass="0">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="name" class="block">Employee Name</label>
        <input
          type="text"
          pInputText
          placeholder="Enter Employee Name"
          formControlName="employeeName"
        />
        <div
          *ngIf="submitted && form['employeeName'].errors"
          class="p-error block"
        >
          <div *ngIf="form['employeeName'].errors['required']">
            Employee Name is required
          </div>
          <div *ngIf="form['employeeName'].errors['pattern']">
            Employee Name is not valid
          </div>
        </div>
      </div>
      <div class="field">
        <label for="dob" class="block">Date of Birth</label>
        <p-calendar
          formControlName="dateOfBirth"
          [showIcon]="true"
          dateFormat="dd-mm-yy"
          placeholder="DD-MM-YYYY"
          [showTime]="false"
          id="dob"
        ></p-calendar>
        <div
          *ngIf="submitted && form['dateOfBirth'].errors"
          class="p-error block"
        >
          <div *ngIf="form['dateOfBirth'].errors['required']">
            Data of Birth is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="mobile" class="block">Mobile Number</label>
        <p-inputMask
          mask="99999 99999"
          formControlName="mobileNo"
          placeholder="Enter Mobile Number"
        ></p-inputMask>
        <div *ngIf="submitted && form['mobileNo'].errors" class="p-error block">
          <div *ngIf="form['mobileNo'].errors['required']">
            Mobile Number is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="nationality" class="block">Nationality</label>
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton
              value="indian"
              formControlName="nationality"
            ></p-radioButton>
            <label for="indian" class="sub-label">Indian</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton
              value="others"
              formControlName="nationality"
            ></p-radioButton>
            <label for="others" class="sub-label">Others</label>
          </div>
        </div>
        <div
          *ngIf="submitted && form['nationality'].errors"
          class="p-error block"
        >
          <div *ngIf="form['nationality'].errors['required']">
            Nationality is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="dateOfJoining" class="block">Date of Joining</label>
        <p-calendar
          formControlName="dateOfJoining"
          [showIcon]="true"
          dateFormat="dd-mm-yy"
          placeholder="DD-MM-YYYY"
        ></p-calendar>
        <div
          *ngIf="submitted && form['dateOfJoining'].errors"
          class="p-error block"
        >
          <div *ngIf="form['dateOfJoining'].errors['required']">
            Date of Joining is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="department" class="block">Department</label>
        <p-dropdown
          formControlName="department"
          [options]="departments"
          (onChange)="departmentValue($event)"
          optionLabel="department"
        ></p-dropdown>
        <div
          *ngIf="submitted && form['department'].errors"
          class="p-error block"
        >
          <div *ngIf="form['department'].errors['required']">
            Department is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="gender" class="block">Gender</label>
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton
              value="male"
              formControlName="gender"
            ></p-radioButton>
            <label for="male" class="sub-label">Male</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton
              value="female"
              formControlName="gender"
            ></p-radioButton>
            <label for="female" class="sub-label">Female</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton
              value="others"
              formControlName="gender"
            ></p-radioButton>
            <label for="others" class="sub-label">Others</label>
          </div>
        </div>
        <div *ngIf="submitted && form['gender'].errors" class="p-error block">
          <div *ngIf="form['gender'].errors['required']">
            Gender is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="isActive" class="block">Active Status</label>
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton
              value="true"
              formControlName="active"
            ></p-radioButton>
            <label for="active" class="sub-label">Active</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton value="inactive" [disabled]="true"></p-radioButton>
            <label for="inactive" class="sub-label">Inactive</label>
          </div>
        </div>
        <div *ngIf="submitted && form['active'].errors" class="p-error block">
          <div *ngIf="form['active'].errors['required']">
            Active Status is required
          </div>
        </div>
      </div>
      <div formGroupName="address">
        <div class="field">
          <label for="address_line1" class="block">Address Line 1</label>
          <input
            pInputText
            formControlName="address_line1"
            placeholder="Enter Address Line 1"
          />
          <div
            *ngIf="submitted && subAddress['address_line1'].errors"
            class="p-error block"
          >
            <div *ngIf="subAddress['address_line1'].errors['required']">
              Address Line 1 is required
            </div>
          </div>
        </div>

        <div class="field">
          <label for="address_line2" class="block">Address Line 2</label>
          <input
            pInputText
            formControlName="address_line2"
            placeholder="Enter Address Line 2"
          />
          <div
            *ngIf="submitted && subAddress['address_line2'].errors"
            class="p-error block"
          >
            <div *ngIf="subAddress['address_line2'].errors['required']">
              Address Line 2 is required
            </div>
          </div>
        </div>

        <div class="field">
          <label for="city" class="block">City</label>
          <input pInputText formControlName="city" placeholder="Enter City" />
          <div
            *ngIf="submitted && subAddress['city'].errors"
            class="p-error block"
          >
            <div *ngIf="subAddress['city'].errors['required']">
              City is required
            </div>
          </div>
        </div>

        <div class="field">
          <label for="state" class="block">State</label>
          <input pInputText formControlName="state" placeholder="Enter State" />
          <div
            *ngIf="submitted && subAddress['state'].errors"
            class="p-error block"
          >
            <div *ngIf="subAddress['state'].errors['required']">
              State is required
            </div>
          </div>
        </div>

        <div class="field">
          <label for="pincode" class="block">Pincode</label>
          <p-inputMask
            mask="999999"
            formControlName="pincode"
            placeholder="Enter Pincode"
          ></p-inputMask>
          <div
            *ngIf="submitted && subAddress['pincode'].errors"
            class="p-error block"
          >
            <div *ngIf="subAddress['pincode'].errors['required']">
              Pincode is required
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="fathername" class="block">Father Name</label>
        <input
          type="text"
          pInputText
          placeholder="Enter Father Name"
          formControlName="fatherName"
        />
        <div
          *ngIf="submitted && form['fatherName'].errors"
          class="p-error block"
        >
          <div *ngIf="form['fatherName'].errors['required']">
            Father Name is required
          </div>
          <div *ngIf="form['fatherName'].errors['pattern']">
            Father Name is not valid
          </div>
        </div>
      </div>
      <div class="field">
        <label for="EmployeeNo" class="block">Employee Number</label>
        <p-inputNumber
          formControlName="EmployeeNo"
          mode="decimal"
          [useGrouping]="false"
        >
        </p-inputNumber>
        <div
          *ngIf="submitted && form['EmployeeNo'].errors"
          class="p-error block"
        >
          <div *ngIf="form['EmployeeNo'].errors['required']">
            Employee Number is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="photo" class="block">Photo</label>
        <p-fileUpload
          name="photo"
          (uploadHandler)="onFileSelect($event)"
          [auto]="true"
          accept=".jpg"
          [customUpload]="true"
          showChooseButton="true"
        ></p-fileUpload>
        <div *ngIf="submitted && form['photo'].invalid" class="p-error block">
          <div *ngIf="form['photo'].invalid">Photo is required</div>
        </div>
      </div>
      <div class="field">
        <label for="qualification" class="block">Qualification</label>
        <input
          pInputText
          formControlName="qualification"
          placeholder="Enter Qualification"
        />
        <div
          *ngIf="submitted && form['qualification'].errors"
          class="p-error block"
        >
          <div *ngIf="form['qualification'].errors['required']">
            Qualification is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="ctc" class="block">CTC</label>
        <p-inputNumber
          formControlName="CTC"
          placeholder="Enter "
        ></p-inputNumber>
        <div *ngIf="submitted && form['CTC'].errors" class="p-error block">
          <div *ngIf="form['CTC'].errors['required']">CTC is required</div>
        </div>
      </div>
      <div class="field">
        <label for="mail" class="block">Email ID</label>
        <input
          type="email"
          pInputText
          formControlName="email"
          placeholder="Enter Mail ID"
        />
        <div *ngIf="submitted && form['email'].errors" class="p-error block">
          <div *ngIf="form['email'].errors['pattern']">Email is not valid</div>
          <div *ngIf="form['email'].errors['required']">Email is required</div>
        </div>
      </div>
      <div class="field">
        <label for="experience" class="block">Experience / Fresher</label>
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton
              value="experience"
              formControlName="experience"
              inputId="experience"
              (change)="experienceRequired($event.target)"
            ></p-radioButton>
            <label for="experience" class="sub-label">Exeperience</label>
          </div>

          <div class="flex align-items-center">
            <p-radioButton
              value="fresher"
              formControlName="experience"
              inputId="fresher"
            ></p-radioButton>
            <label for="fresher" class="sub-label">Fresher</label>
          </div>
        </div>
        <div
          *ngIf="submitted && form['experience'].errors"
          class="p-error block"
        >
          <div *ngIf="form['experience'].errors['required']">
            Experience is required
          </div>
        </div>
      </div>
      <div formArrayName="yearOfExperience">
        <div *ngIf="myForm.value.experience == 'experience'">
          <div class="mainbtn">
            <div class="sbtn">
              <p-button label="Add" (click)="addExperience()"></p-button>
            </div>
            <div class="sbtn">
              <p-button label="Delete" (click)="delExperience()"></p-button>
            </div>
          </div>
          <div
            class="field1"
            *ngFor="let experience of yearOfExperience.controls; let i = index"
            formGroupName="{{ i }}"
          >
            <div class="field">
              <label for="years" class="block">Year of Experience</label>
              <p-inputMask
                mask="9"
                formControlName="years"
                placeholder="Enter Year of Experience"
              ></p-inputMask>
            </div>
            <div class="field">
              <label for="companyName" class="block">Company Name</label>
              <input
                type="text"
                pInputText
                placeholder="Enter Company Name"
                formControlName="companyName"
              />
            </div>
            <div class="field">
              <label for="joinDate" class="block">Date of Join</label>
              <p-calendar
                formControlName="joinDate"
                [showIcon]="true"
                dateFormat="dd-mm-yy"
                placeholder="DD-MM-YYYY"
              ></p-calendar>
            </div>
            <div class="field">
              <label for="endDate" class="block">Date of End</label>
              <p-calendar
                formControlName="endDate"
                [showIcon]="true"
                dateFormat="dd-mm-yy"
                placeholder="DD-MM-YYYY"
              ></p-calendar>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="emergencyContactNumber" class="block"
          >Emergency Contact</label
        >
        <p-inputMask
          mask="99999 99999"
          formControlName="emergencyContactNumber"
          placeholder="Enter Emergency Contact Number"
        ></p-inputMask>
        <div
          *ngIf="submitted && form['emergencyContactNumber'].errors"
          class="p-error block"
        >
          <div *ngIf="form['emergencyContactNumber'].errors['required']">
            Emergency Contact is required
          </div>
        </div>
      </div>
      <div class="field">
        <label for="panNumber" class="block">PAN Number</label>
        <input
          pInputText
          placeholder="Enter PAN Number"
          formControlName="panNumber"
        />
        <div
          *ngIf="submitted && form['panNumber'].errors"
          class="p-error block"
        >
          <div *ngIf="form['panNumber'].errors['required']">
            Pan Number is required
          </div>
          <div *ngIf="form['panNumber'].errors['pattern']">
            Pan Number not valid
          </div>
        </div>
      </div>
      <div class="mainbtn">
        <div class="sbtn">
          <button
            pButton
            pRipple
            label="Submit"
            type="submit"
            class="p-button-success"
          ></button>
        </div>
        <div class="sbtn">
          <p-button
            label="Reset"
            (click)="onReset()"
            styleClass="p-button-secondary"
          ></p-button>
        </div>
      </div></form
  ></p-card>
</div>
