body {
  margin: 20px;
}
#heading {
  background-color: #3a81f6;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: x-large;
}
:host >>> .emp-form {
  margin-left: 10%;
  margin-right: 10%;
}
.star{
  color: #e24f4f;
}

/* .photo {
  display: block;
  position: relative;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
} */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #e0e4e8;
}
#photoError{
  float: right;
  width: 70%;
}
.p-error{
  font-size: smaller;
}

label {
  font-weight: bold;
  font-size: medium;
  padding: 10px;
  float: left;
  width: 30%;
}

:host >>> .inputField{
  height: 40px;
  width: 70%;
}

.field1 {
  border: 1px solid #3a81f6;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.sub-label {
  font-weight: normal;
  padding-left: 10px;
}
.mainbtn {
  display: flex;
  justify-content: center;
}
.sbtn {
  margin: 10px;
  width: 100px;
}

@media only screen and (max-width: 768px) {
  label {
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    width: 100%;
  }

  :host >>> .inputField{
    width: 100%;
  }
}
