<div class="outer">
  <div
    class="menu-toggle"
    (click)="toggleMenu()"
    [ngClass]="{ 'is-active': isMenuActive }"
  >
    <div class="toggleBtn">
      <span></span>
    </div>
  </div>
  <aside class="innerSideBar" [ngClass]="{ 'is-active': isSidebarActive }">
    <p class="heading" (click)="goTO('home')">DASHBOARD</p>
    <br />

    <hr />
    <ul class="menu" *ngFor="let item of page">
      <li class="menu-item is-active">
        <a
          class="btn"
          routerLink="{{ item.path }}"
          [routerLinkActive]="'active'"
        >
          {{ item.name }}
        </a>
      </li>
    </ul>
  </aside>
</div>
