<div class="sidebar">
  <a class="active" href="#home"
    ><p-card
      header="Home"
      [style]="{
        width: '260px',
        height: '60px',
        paddingBottom: '5px',
        textAlign: 'center'
      }"
      class="home"
    ></p-card
  ></a>
  <a href="#news">
    <p-card
      header="New Profile"
      [style]="{ width: '260px', height: '60px', paddingBottom: '5px' }"
      class="home"
    ></p-card
  ></a>
  <a href="#contact">
    <p-card
      header="View Profile"
      [style]="{ width: '260px', height: '60px', paddingBottom: '5px' }"
      class="home"
    ></p-card
  ></a>
  <a href="#about">
    <p-card
      header="Account"
      [style]="{ width: '260px', height: '60px', paddingBottom: '5px' }"
      class="home"
    >
    </p-card
  ></a>
</div>
