* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.sideBar{
    position : absolute;
    width: 20%;
    height: 100vh;
    background-color: #307aeb;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.heading{
    margin: 20px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
.list{
    list-style: none;
}

.link{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    height: 55px;
    margin-left: 10%;
    margin-right: 10%;
}
.link:hover{
    background-color: rgba(197, 197, 197, 0.247);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.active {
    background-color: rgba(197, 197, 197, 0.918);
    color: black ;
    border-radius: 10px;
    font-weight: bold;
}